<ion-header>
  <ion-navbar>
    <ion-title><span class="profile" (tap)="profile()"><img src="{{image || 'assets/imgs/user.png' }}"></span>{{workerName}}
      <small></small><span>
        <small *ngIf="job" (tap)="acceptJob()">Accept Offer</small>
      </span></ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg-light" #content style="height: 100%">

  <div *ngIf="chat" id="chat">
    <div *ngFor="let item of msgList">
      <ion-card [class.send]=" userId === item.uid " [class.received]=" userId !==  item.uid " (click)="open(item)">
        <h2 *ngIf="item.image === false ">{{item.message}}</h2>
        <img *ngIf="item.image === true " src="{{item.message}}" style="height: 200px; width: 200px; padding-top: 5px; padding-left: 5px;">
        <p class="small">{{item.time}}</p>
      </ion-card>
    </div>

  </div>

  <!-- <div class="fixed-bottom" id="chatBox">
      <ion-row>
          <ion-col col-2 class="" (tap)="book()">
              <p class="bg-thime" text-center>Book</p>
          </ion-col>
          <ion-col col-8>
              <ion-list class="" no-lines>
                  <ion-item>
                      <ion-input type="text" placeholder="Type your message" [(ngModel)]="newMsg" (keyup.enter)="sendMsg()" ></ion-input>
                      <h3 item-end (tap)="choose()">
                              <ion-icon><img src="assets/imgs/add-icon.png"></ion-icon>
                          </h3>
                  </ion-item>
              </ion-list>
          </ion-col>
          <ion-col col-2 class="">
              <p class="bg-thime" text-center>
                  <ion-icon name="md-send" (tap)="sendMsg()"></ion-icon>
              </p>
          </ion-col>
      </ion-row>
  </div> -->
</ion-content>

<ion-footer>
  <ion-grid>
    <div class="fixed-bottom" id="chatBox">
      <ion-row>
        <ion-col col-2 class="" (tap)="book()">
          <p class="bg-thime" text-center>Book</p>
        </ion-col>
        <ion-col col-8>
          <ion-list class="" no-lines>
            <ion-item>
              <ion-input type="text" placeholder="Type your message" (focus)="onFocus($event)" [(ngModel)]="newMsg"
                (keyup.enter)="sendMsg($event)"></ion-input>
              <h3 item-end (tap)="choose()">
                <ion-icon><img src="assets/imgs/add-icon.png"></ion-icon>
              </h3>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-2 class="" (tap)="sendMsg()">
          <p class="bg-thime" text-center>
            <ion-icon name="md-send"></ion-icon>
          </p>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-footer>